@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    padding:0;
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;;
    position: relative;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* ---------------------------------------------------------- */
/* HERO SECTION */
/* ---------------------------------------------------------- */
#Hero-Section {
    background-image: url("../Images/triangle_light_blurred_88541_1920x1080.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    width: 100%;
    z-index: 1;
}

.hero {
    align-items: center;
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 150px;
    justify-content:flex-start;
    height: 100vh;              /* Super Important to make sure container spans page*/
}

/* This allows an overlay opn an image and make it darker*/
 #Hero-Section ::after {
    content: '';
    opacity: .1;
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
 }

#Hero-Section h1 {
    animation: text-h1 ease .3s forwards;
    color: transparent;
    font-size: 4rem;
    position: relative;
    width: fit-content;
}

#Hero-Section h1:nth-child(1) { 
    animation-delay: 1s;
}
#Hero-Section h1:nth-child(2) { 
    animation-delay: 2s;
}
#Hero-Section h1:nth-child(3) { 
    animation: text-h1-name .5 ease forwards;
    animation-delay: 3s;
}

#Hero-Section h1 span{
    animation: text-reveal .7s ease;
    animation-delay: .7s;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 0%;
    background-color: crimson;
}

#Hero-Section h1:nth-child(1) span{ 
    animation-delay: .7s;
}
#Hero-Section h1:nth-child(2) span{ 
    animation-delay: 1.7s;
}
#Hero-Section h1:nth-child(3) span{ 
    animation-delay: 2.7s; 
}

#Hero-Section .cta {
    animation: portfolio .6s ease forwards;
    animation-delay: 3.7s;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-top: 20px;
    padding: 10px 30px;
    color: transparent;
    text-transform: uppercase;
    border: 2px solid transparent;
}

#Hero-Section .cta:hover {
    background-color: crimson;
    transition: .3s ease;
    transition-property: background-color color;
}

/* -------------------------------------------------------------------- */
/* ABOUT ME SECTION */
/* -------------------------------------------------------------------- */
.About-Me-Container {
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 5px 4px 40px grey;
    width: 50%;
    height: 250px;
    margin: auto;
    position: relative;;
    z-index: 2;
    padding: 50px;
    bottom: 5rem;
    display: flex;
}

.About-Me-Container img{
    width: 200px;
    margin-right: 5rem;
}

.About-Me-Container p{
    margin-top: 1rem;
    font-size: 1.6rem;
}
/* -------------------------------------------------------------------- */
/* SERVICE SECTION */
/* -------------------------------------------------------------------- */
.Service-Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1366px;
    margin: 40px auto 50px;
}

.Section-Title {
    font-size: 4rem;
    font-weight: 300;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

.Section-Title span{
    color: crimson;
}

.Section-Info {
    font-size: 1.4rem;
    margin: 0 auto;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    margin-bottom: 3rem;
    width: 700px;
}

.Service-Cards-Container {
    margin: 0 auto 10rem;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

}

.Service-Cards {
    color: white;
    flex-basis: 20%;
    background-color: rgb(49, 48, 48);
    background-color: rgb(231, 47, 84);
    height:320px;
    box-shadow: 5px 4px 40px grey;
    border-radius: 10px;
    font-size: 1.3rem;
}

.Service-Cards .number {
    color: black;
    display: block;
    margin: 40px auto 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    padding: 5px;
    justify-self: center;
}

.Service-Cards h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.Service-Cards .Service-Cards-Desc {
    margin: auto;
    margin-bottom: 2.5rem;
    text-align: center;
    width: 80%;
}

.Service-Cards .btn{
    text-decoration: none;
    background-color: white;
    border: white solid .05px;
    border-radius: 5px;
    color: black;
    font-size: 1.6rem;
    margin: auto;
    width:fit-content;
    padding:5px;
}

.Service-Cards .btn:hover{
    background-color: turquoise;
    border: transparent solid .05px;
    color: white;
    font-size: 1.6rem;
    margin: auto;
    text-decoration: none;
    transition-property: background-color color;
}
/* -------------------------------------------------------------------- */
/* Hire Me SECTION */
/* -------------------------------------------------------------------- */
.Hire-Me-Banner {
    width: 100vw;
}

.Hire-Me-Container {
    height: 220px;
    background-color:  rgb(231, 47, 84);
    position: relative;
    margin-bottom: 2rem;
}

.Hire-Me-Banner h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 15px;
}

.Hire-Me-Banner hr {
    width: 27%;
    margin: auto;
    height: .2rem;
    background-color: white;
}

.Hire-Me-Container a {
    display: block;
    color: white;
    font-size: 2rem;
    margin: 2rem auto 0;
    text-align: center;
    border: 1px solid;
    width: fit-content;
    padding: 5px;
}

footer {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

footer .Socials-Container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
}

footer .Socials {
    width:40px;
    margin:1rem 1rem 0;
    text-align: center;
}

/* Key Frames */
@keyframes text-h1 {
    100% {
        color: whitesmoke;
    }
}

@keyframes text-h1-name {
    100% {
        color: crimson;
        font-weight: 500;
    }
}

@keyframes text-reveal {
    50% {
        width:100%;
        left: 0;
    }

    100% {
        width:0;
        left: 100%;
    }
}

@keyframes portfolio {
    100% {
        
        border-color: crimson;
        color: white;
        text-decoration: none;
    }
}


/* -------------------------------------------------------------------- */
/* NEW PAGE - CONTACT ME*/
/* -------------------------------------------------------------------- */
.Contact-Me-Page {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.Contact-Me {
    display: flex;
    margin: auto;
    
}

.Contact-Me-Page h1 {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.Contact-Me-Page .mail-img {
    
    border-radius: 5%;
}